<a href="/action">Attack</a>

<h1>Let's Play</h1>

<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<%= @player_2_name %>: 60HP
<br>

<form action="/action" method="post">
  <input type="submit" value="Attack">
</form>